nav ul{
    list-style-type: none;
}
nav ul li img {
    width: 30px;
}
.a1{
    position:fixed;
    top:0;
    left: 0;
    right : 0;
    background-color : #071E67;
    z-index: 1000; 
}
.a2{
    color : white !important;
    text-decoration: none;
    
}
.a2:hover{
    color : rgb(255, 200, 0) !important;
}
.a3:hover{
    color : rgb(255, 200, 0) !important;
}

.a3{
    text-decoration: none;
    color: white !important;
    padding : 4px 25px 8px 25px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid yellow;
    background-color: #04AA6D;
    /* background-color: rgb(255, 119, 0); */
}
.a4:hover{
    color : rgb(255, 200, 0) !important; 
}

@media  only screen and (min-width : 1285px) {
.a4{
    padding : 8px 25px 8px 25px
}    
}

@media  only screen and (min-width : 992px) and (max-width :1300px){
    .a5{
        margin-left : 0px !important;
        margin-right: 0px !important;
    }  
    .a4{
        padding : 8px 25px 8px 25px
    }  
    }
    @media  only screen and (min-width : 1301px){
        .a5{
            margin-left : 3rem !important;
            margin-right: 3rem !important;
        }    
        }
    

/* @media  only screen and (min-width : 992px) {
    .a1{
        padding :0px;
        margin :0px
    }    
    } */