.h1{
    position: relative;
    top : 200px;
    border-radius: 10px;
    margin-bottom: 180px;
    background-color: #f1f1f1;
 }
 .h2{
    font-size : 50px;
    font-weight: bolder;
    /*color : rgb(255, 111, 0);*/
    /* color: #009318; */
    color :  #04AA6D
    
 }
 .h3{
    background-color: #000c81;
    color: white;
    font-size: 20px;
    font-weight: bold;
 }
.h4{
    color : #6e4cc5;
    font-size: 35px;
    font-weight: bold;
}
.h5{
    border-radius : 5px;
    background-color: #000c81;
    border : none;
    color: white;
    text-decoration: none;

}