.l1 {
    position: relative;
    /* top: 100px; */
    /* padding-top : 100px; */
 
 }
 .l2 {
    border-radius: 5px;
    background-color: #000c81;
    border: none;
    color: white;
    text-decoration: none;
 
 }
 .l3{
    margin-bottom: 500px;
    margin-top: 100px;
 }
 
 /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
.content {
   padding: 1px 16px;
 }
 .l4 {
   font-size: 35px;
   color: #009318;
   font-weight: bold;

}
/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
@media only screen and (min-width : 700px) {
   .content {
      margin-left: 200px;
      padding: 1px 16px;
      height: 1000px;
    }
    .l1{
      padding-top : 100px;
    }
}